body{
    background-color: lightblue;
    
    
}
h1{
  padding: 1.5rem;
  font-family: Arial;
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
}
p{
  font-weight: bold;
  font-family: Arial;
  text-decoration: underline;
  font-size: 2rem;
  
}

.float-container{
    border: 1rem;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
    line-height: 2rem;
    font-family: Arial;
    font-size: 25px;
    color: lightblue;
    
}

.float-child.one{
    width: 30%;
    float: left;
    padding: 2rem;
    border: 0.5rem none;
    margin-right: 2rem;
}
.float-child.two{
    width: 40%;
    float: left;
    padding: 2rem;
    border: 0.5rem none;
}

