<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
   

    <!-- Page Info -->
    

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

      <!-- introduce the product -->
      <div class="float-container">
        <div class="float-child one">
        <p class="text" > What is Snail Scale? </p>
              If you are looking to eat healthier, achieve your hollywood body or maximise your performance by consuming the correct amount of macros then Snail Scale is your solution of having a very simple way to track your macros and nutrition without the need to input any sort of data, serving service or type of food. Snail Scale will take care of that for you!
              <br>
              <p class="text" > Team members: </p>
                          <ul>
                            <li>Dallas Dominguez</li>
                            <li>Sepehr Bostan</li>
                            <li>Nihal Azeez</li>
                            <li>Salman Noori</li>
                          </ul>
              
          </div>
        <div class="float-child two">
          <p class="text" > How does it work? </p>
          <ul>
            <li>Camera detects type of food</li>
            <li>Weighs the food</li>
            <li>Displays amount of calories and nutrition in the food</li>
          </ul>
          
          <p class="text"> What is the user supposed to do? </p>
              The user needs to simply put the food on the scale and the scale will take care of the rest.
          
      </div>
      </div>
    
  </body>
      
      
</html>
